body{
  background-color: hsl(212, 45%, 89%);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-card{
 max-width: 250px; 
 background-color: white;
  margin: 200px auto;
  border-radius: 10px;
  padding: 10px;
}

.header img{
  width: 100%;
  border-radius: 10px;
  
}
.content{
  padding: 0 5px;
}

.content h2{
  text-align: center;
  font-size: 15px;
}

.content p{
  text-align: center;
  font-size: 12px;
}